<header class="header">
    <a class="pointer"><img class="headerLogo" src="img/Micharando.de.png" alt="Logo"></a>
    <p class="headerAdress">Lilienstraße 5, Silent Hill</p>
    <div class="headerButton">
        <img class="languageButton pointer" src="img/germanyFlag.png" alt="Language Button">
        <img class="burgerMenu pointer" src="img/menu.png" alt="Menu">
        <div onclick="openBasketForMobile()" id="basketButton">
            <img class="basketButton pointer" src="img/bagWhite.png" alt="Menu">
            <div id="basketCount" class="basketCount"></div>
        </div>
    </div>
</header>
